.button {
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  color: #FFFFFF;
  border: none;
  font-size: 1rem;
  letter-spacing: 1px;
  height: fit-content;
  text-transform: uppercase;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #995055;
}

.button:active {
  background-color: #4c282a;
}

.submit {
  background-color: green;
}

.delete {
  background-color: red;
}
